<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Loginov_Ticket.Properties.Settings.Loginov_ticketConnectionString"
            connectionString="Data Source=WIN-8OAAMV9I6VO\SQLEXPRESS;Initial Catalog=Loginov_ticket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>